<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status Anda</title>
</head>
<body>

<h1>Hello, Tuliskan statusmu disini!</h1>
<h3><a href="/profil">See my profile here! </a></h3>

<section name="form">
    <form id="form" method="POST" action="/addstatus">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>

    {% for item in all %}
        <ul>
        <li><h4>{{ item.status }}</h4> time : {{ item.time }}</li>

        </ul>
    {% endfor %}

</section>

</body>
</html>